{% extends "blog/base.html" %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<div class="section-gap">
    <div class="container-fluid text-center">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <button type="button" class="btn-info btn-lg"> {{form.username.label_tag }}</button> <br /> <br /> {{form.username }}

            <br />


            <br /> <button type="button" class="btn-info btn-lg">{{ form.password.label_tag }}</button> <br />
            <br /> {{ form.password }}


            <br /> <br /> <input type="submit" class="btn-success btn-lg" value="login" />
            <a href="/accounts/signup"><button type="button" class="btn-info btn-lg">Signup</button></a>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}