{% extends 'blog/base.html' %}


{% block content %}
    {% for post in posts %}
    <hr>
    
    <div class="container-fluid ">
        <div class="section-gap1 wow pulse">
     

            <p>published: {{ post.published_date }}</p>
            <p>Author: {{ post.author }}</p>
          <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <h3><a href="">{{ post.category }}</a></h3>
          <p>{{r}}</p>

        

       
      </div>  
    
</div>



{% endfor %}
{% endblock %}
