.section-gap {
    margin-top: 30px;

    color: aliceblue;
    margin-right: 20px;
    margin-left: 30px;
    border: solid black 10px;
    margin-bottom: 50px;
    padding: 100px;
   



}

.section-gap1 {
    margin-top: 10px;

    /* background-color: rgb(240, 238, 238); */
    margin-right: 10px;
    margin-left: 10px;
    border: solid white 5px;
    margin-bottom: 10px;
    padding: 20px;
}



.section-gap1 p,h2,h3,a{
    color: rgb(226, 199, 164);
}


.section-gap2 {
    margin-top: 10px;

    background-color: rgb(240, 238, 238);
    margin-right: 10px;
    margin-left: 10px;
    border: solid white 5px;
    margin-bottom: 10px;
    padding: 20px;
}

.section-gap2 p,h2,h3,a{
    color: rgb(204, 68, 5);
}

.nav-item
{
 margin:0px 0px 10px 30px;

}

body
{
   background-color: black; 
}

/* home.html */
.box {

    margin: 100px 100px 100px 100px;
    float: left;


}

.box a,h1,h4 {

    padding: 5%;
}

.date {
    color: #161212;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-left: 20px
}

.post p{
    color: antiquewhite;
}
.post h1,p a:visited  {
    color: #f3f3f3;
}
GwFnjrAfoSYbInptbujp5wQkd20-3rmB-j39sQ_03bcxxCDQ